.color-primary{ color:  @brand-primary; }
.color-success{ color:  @brand-success; }
.color-warning{ color:  @brand-warning; }
.color-danger{ color:  @brand-danger; }
.color-info{ color:  @brand-info; }


.color-primary:hover { color:  @brand-primary; }
.color-success:hover { color:  @brand-success; }
.color-warning:hover { color:  @brand-warning; }
.color-danger:hover { color:  @brand-danger; }
.color-info:hover { color:  @brand-info; }