.ace_editor {
	position: relative !important;
	border: 1px solid lightgray;
	margin: auto;
	height: 200px;
	width: 100%;
}
.scrollmargin {
	height: 100px;
	text-align: center;
}

.relative { position: relative; }

#tools-content { margin-top: 20px; }