.nav-list-sidebar > li  {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.nav-list-sidebar > li  a {
  color: #444;
}
.nav-list-sidebar li a:hover {
  background-color: #FFF;
  color: #1963aa;
}

.nav-list-sidebar > li > ul {
  background-color: #fff;
}

.nav-list-sidebar > li > ul > li a  {
  padding-left: 25px;
  display: block
}

.nav-list-sidebar > li > ul > li > a:hover {
  background-color: #fff;
}

.nav-list-sidebar > li > a:hover:before {display: block; content: ""; position: absolute; top: -1px; bottom: 0; left: 0; width: 3px; max-width: 3px; overflow: hidden; background-color: #3382af; }

.nav-list-sidebar li.active {
  background-color: #fff;
}
.nav-list-sidebar li.active:after {
display: inline-block;
content: "";
position: absolute;
left: 0px;
top: -1px;
bottom: 0;
z-index: 1;
border: 2px solid #2b7dbc;
border-width: 0 2px 0 0;
}

.nav-list-sidebar > li.active > a, .nav-list-sidebar > li.active > a:hover, .nav-list-sidebar > li.active > a:focus, .nav-list > li.active > a:active {
background-color: #fff;
color: #2b7dbc;
font-weight: bold;
font-size: 13px;
}