<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>

        </tr>
      </thead>
      <tr>
        <td>1</td>
        <td>Duff</td>
      </tr>
    </table>
  </div>

</div>
