<html>
<head>
  <title>Beer App</title>


  <link rel="stylesheet" type="text/css" href="asset/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="asset/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" type="text/css" href="asset/css/app.css" />

</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="./index.html">Beer App</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <a href="./index.html">Accueil</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <?php if(isset($view_path)) include $view_path ; ?> 


  <script type="text/javascript" src="asset/js/jquery.min.js"></script>
  <script type="text/javascript" src="asset/js/bootstrap.min.js"></script>
</body>
</html>